h1,h2,h3,ul,li {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

header {
    text-align: center;
}

body {
    color: #666666;
    /* 文字全体をグレーにできる */
}




img {
  max-width: 100%; 
  /* はみ出さないような設定 */
 
}

.container {
    max-width: 1400px;
    margin: 0 auto ;
    padding: 0 20px ;
}

.logo {
    width: 400px;
    margin:  30px auto;
}

.mainimg {
    border-radius: 10px;
    margin-bottom: 30px;
}

nav ul li {
    list-style: none;
    display: inline;
}
nav{
    text-align: center;
    margin-bottom: 30px;
}
nav li a {
    padding: 15px 30px;
    text-decoration: none;
    color: #666666;
}
nav li a:hover {
    border-bottom: 4px solid #d88847;
}
a {
    transition: 0.3s;
}

h2 {
    color: white;
    background: #d88847;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

section ul {
    list-style: none ;
    margin-bottom: 20px;
    line-height: 2;
    /* line-height行間の幅　１だと1行分 */
}

.date {
    margin: 0 20px 0 15px;
}

h3 {
    margin-bottom: 20px;
    padding: 8px 20px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
}

p{
    margin: 0 20px 20px;
}
.a-link:hover{
    color: #d88847;
}

.point {
    color: #d88847;
}
a {
    color: #666666;
}

footer {
    text-align: center;
    font-size: 13px;
}

.footer-under {
    font-size: 12px;
}

footer a {
    text-decoration: none;
}
footer a:hover {
    color: #d88847;
}
